*.o
*.a
Makefile
core
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
nwm
.gdb_history
.ninja_log
build.ninja
rules.ninja
/.gdb_brestore
/.gdb_brestore.txt
/src/include/rct/rct-config.h
.ninja_deps
/src/.gdb_brestore
/src/.gdb_brestore.txt
/.lsdev_default
