workspaces = 3

keybind "Ctrl-A" {
  command = "layout.toggleOrientation"
}

keybind "Shift-A" {
  exec = "xterm"
}

keybind "Alt-A" {
  javascript = "console.log('Alt-A pressed');"
}

keybind "Ctrl-Up" {
  command = "layout.adjustLeft"
}

keybind "Ctrl-Down" {
  command = "layout.adjustRight"
}

keybind "Ctrl-Left" {
  command = {"layout.adjust", "-20"}
}

keybind "Ctrl-Right" {
  command = {"layout.adjust", "20"}
}

keybind "Ctrl-1" {
  command = {"workspace.select", "0"}
}

keybind "Ctrl-2" {
  command = {"workspace.select", "1"}
}

keybind "Ctrl-3" {
  command = {"workspace.select", "2"}
}

keybind "Ctrl-4" {
  command = {"workspace.select", "3"}
}

keybind "Ctrl-Shift-1" {
  command = {"workspace.moveTo", "0"}
}

keybind "Ctrl-Shift-2" {
  command = {"workspace.moveTo", "1"}
}

keybind "Ctrl-Shift-3" {
  command = {"workspace.moveTo", "2"}
}

keybind "Ctrl-Shift-4" {
  command = {"workspace.moveTo", "3"}
}
