nwm.moveModifier = "Alt";
nwm.focusPolicy = nwm.FocusClick;
nwm.on("client", function(client) {
    console.log("got client", client.title, client.class, client.instance);
    if (client.class == "XTerm")
	client.floating = true;
});

var ws = nwm.workspace;
ws.add({ type: ws.Stack });
ws.add({ type: ws.Grid });
ws.add({ type: ws.Grid });
ws.add({ type: ws.Grid });

var kbd = nwm.kbd;
kbd.set("Ctrl-A", function() { console.log("test"); });
kbd.set("Shift-A", function() { nwm.launch("xterm"); });

kbd.set("Ctrl-Left", function() { nwm.layout.adjust(-20); });
kbd.set("Ctrl-Right", function() { nwm.layout.adjust(20); });

kbd.set("Ctrl-1", function() { ws.select(0); });
kbd.set("Ctrl-Shift-1", function() { ws.moveTo(0); });
kbd.set("Ctrl-2", function() { ws.select(1); });
kbd.set("Ctrl-Shift-2", function() { ws.moveTo(1); });
kbd.set("Ctrl-3", function() { ws.select(2); });
kbd.set("Ctrl-Shift-3", function() { ws.moveTo(2); });
kbd.set("Ctrl-4", function() { ws.select(3); });
kbd.set("Ctrl-Shift-4", function() { ws.moveTo(3); });
kbd.set("Alt-Tab", function() { ws.raiseLast(); });

kbd.set("Insert A", function() { console.log("Got Insert A"); });
kbd.set("Insert Shift-B", function() { console.log("Got Insert Shift-B"); });

kbd.set("Insert D", function() {
    var c = nwm.focusedClient;
    if (!c)
        return;
    c.close();
});

console.log(nwm.exec("/bin/uname", "-a"));

kbd.set("Insert C", function() {
    var f = new Client({ width: 300, height: 300 });
    console.log(f);
    f.backgroundColor = { r: 255 };
    f.text = { font: { family: "Sans Bold", pointSize: 27 }, color: { g: 255 }, text: "test foo" };
});
