var ws = nwm.workspace;
ws.add({ type: ws.Stack });
ws.add({ type: ws.Grid });
ws.add({ type: ws.Grid });
ws.add({ type: ws.Grid });

var kbd = nwm.kbd;
kbd.set("Ctrl-A", function() { console.log("test"); });
kbd.set("Shift-A", function() { nwm.launch("xterm"); });

kbd.set("Ctrl-Left", function() { nwm.layout.adjust(-20); });
kbd.set("Ctrl-Right", function() { nwm.layout.adjust(20); });

kbd.set("Ctrl-1", function() { ws.select(0); });
kbd.set("Ctrl-Shift-1", function() { ws.moveTo(0); });
kbd.set("Ctrl-2", function() { ws.select(1); });
kbd.set("Ctrl-Shift-2", function() { ws.moveTo(1); });
kbd.set("Ctrl-3", function() { ws.select(2); });
kbd.set("Ctrl-Shift-3", function() { ws.moveTo(2); });
kbd.set("Ctrl-4", function() { ws.select(3); });
kbd.set("Ctrl-Shift-4", function() { ws.moveTo(3); });
kbd.set("Alt-Tab", function() { ws.raiseLast(); });

kbd.set("Insert A", function() { console.log("Got Insert A"); });
kbd.set("Insert B", function() { console.log("Got Insert B"); });
kbd.set("Insert C A", function() { console.log("Got Insert C A"); });
kbd.set("Insert C D", function() { console.log("Got Insert C D"); });

console.log(nwm.exec("/bin/uname", "-a"));
