nwm.workspace.count = 4;
var kbd = nwm.kbd;
kbd.set("Ctrl-A", function() { console.log("test"); });
kbd.set("Shift-A", function() { nwm.launch("xterm"); });

kbd.set("Ctrl-Left", function() { nwm.layout.adjust(-20); });
kbd.set("Ctrl-Right", function() { nwm.layout.adjust(20); });

kbd.set("Ctrl-1", function() { nwm.workspace.select(0); });
kbd.set("Ctrl-Shift-1", function() { nwm.workspace.moveTo(0); });
kbd.set("Ctrl-2", function() { nwm.workspace.select(1); });
kbd.set("Ctrl-Shift-2", function() { nwm.workspace.moveTo(1); });
kbd.set("Ctrl-3", function() { nwm.workspace.select(2); });
kbd.set("Ctrl-Shift-3", function() { nwm.workspace.moveTo(2); });
kbd.set("Ctrl-4", function() { nwm.workspace.select(3); });
kbd.set("Ctrl-Shift-4", function() { nwm.workspace.moveTo(3); });

console.log(nwm.exec("/bin/uname", "-a"));
